<?xml version="1.0" encoding="UTF-8" ?>
<beans>
    <bean id="aService" class="com.veyhey.minispring.service.impl.AServiceImpl"/>

    <bean id="aServiceByConstructor" class="com.veyhey.minispring.service.impl.AServiceImpl">
        <constructor-arg type="String" name="name" value="abc"/>
        <constructor-arg type="int" name="level" value="3"/>
    </bean>

    <bean id="aServiceBySetter" class="com.veyhey.minispring.service.impl.AServiceImpl">
        <property type="Integer" name="property1" value="1"/>
        <property type="String" name="property2" value="property2"/>
    </bean>

    <bean id="bServiceByOtherBean" class="com.veyhey.minispring.service.BService">
        <constructor-arg type="com.veyhey.minispring.service.AService" name="aService" ref="aServiceByConstructor"/>
    </bean>

    <bean id="bServiceInjectBySetterWithOtherBean" class="com.veyhey.minispring.service.BService">
        <property type="com.veyhey.minispring.service.AService" name="aService" ref="aServiceByConstructor"/>
    </bean>

</beans>