<?xml version="1.0" encoding="UTF-8" ?>
<beans>
    <bean id="aService" class="com.veyhey.minispring.service.impl.AServiceImpl"/>

    <bean id="aServiceByConstructor" class="com.veyhey.minispring.service.impl.AServiceImpl">
        <constructor-arg type="String" name="name" value="abc"/>
        <constructor-arg type="int" name="level" value="3"/>
    </bean>

    <bean id="aServiceBySetter" class="com.veyhey.minispring.service.impl.AServiceImpl">
        <property type="Integer" name="property1" value="1"/>
        <property type="String" name="property2" value="property2"/>
    </bean>

    <bean id="bServiceByOtherBean" class="com.veyhey.minispring.service.BService">
        <constructor-arg type="com.veyhey.minispring.service.AService" name="aService" ref="aServiceByConstructor"/>
    </bean>

    <bean id="bServiceInjectBySetterWithOtherBean" class="com.veyhey.minispring.service.BService">
        <property type="com.veyhey.minispring.service.AService" name="aService" ref="aServiceByConstructor"/>
    </bean>

    <bean id="cService" class="com.veyhey.minispring.service.CService">
        <property type="com.veyhey.minispring.service.DService" name="dService" ref="dService"/>
    </bean>

    <bean id="dService" class="com.veyhey.minispring.service.DService">
        <property type="com.veyhey.minispring.service.CService" name="cService" ref="cService"/>
    </bean>

    <bean id="cServiceByConstructor" class="com.veyhey.minispring.service.CService">
        <constructor-arg type="com.veyhey.minispring.service.DService" name="dService" ref="dServiceByConstructor"/>
    </bean>

    <bean id="dServiceByConstructor" class="com.veyhey.minispring.service.DService">
        <constructor-arg type="com.veyhey.minispring.service.CService" name="cService" ref="cServiceByConstructor"/>
    </bean>

    <bean id="cServiceByConstructor2" class="com.veyhey.minispring.service.CService">
        <constructor-arg type="com.veyhey.minispring.service.DService" name="dService" ref="dServiceBySetter"/>
    </bean>

    <bean id="dServiceBySetter" class="com.veyhey.minispring.service.DService">
        <property type="com.veyhey.minispring.service.CService" name="cService" ref="cService"/>
    </bean>

</beans>